# Caches
__pycache__/
*.pytest_cache

# Github
.github

# poetry
.venv
poetry.lock

# VSCode
.vscode

# PyCharm
.idea
qodana.yaml

# Macos
.DS_Store

# For the project
## Datasets
Datasets

## References
ref.

## Foreign files
ProportionPrediction.pptx

# All redundant files
*.html
*.pdf
*.ipynb

# Python scripts under development
stats.py
tidy.py

# TODO
TODO.md

# Ideas
Ideas.md



