# PyCharm
.idea
qodana.yaml

# References
ref.

# Datasets
Datasets

# Models
Models/

# Macos
.DS_Store

# Foreign files
ProportionPrediction.pptx

# All redundant files
*.html
*.pdf

# VSCode
.vscode

# Github
.github

# Python scripts under development
stats.py
tidy.py

# TODO
TODO.md

# Caches
__pycache__/
*.pytest_cache

